*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --corNavegacao: #1e1f22 ;
    --corTitulorBtn: #ffae00 ;
    --corCard: rgba (37, 37, 37, 0.8) ;
    --corTextos: #ffffff ;
}

body{
    background-image: url(imagens/bg.png) ;
    color: aqua

}

header{
    background-color: var( --corNavegacao);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

nav a{
    text-decoration: none;
    color: var(--corTextos);
    margin: 10px;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}